html{
    background: rgb(80, 80, 100);
    position: absolute;
    box-sizing: border-box;
    width: 1520px;
    /* height: 1024px; */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

#g3{
    position: absolute;
    top: 960px;
    left: 30px;
    width: 1460px;
    background-color: aliceblue;
}