html{
    background: rgb(80, 80, 100);
    position: absolute;
    box-sizing: border-box;
    width: 1520px;
    /* height: 1024px; */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}
.myChart{
    width:100%;max-width:700px; max-height: 400px;
    /* width: 600px; */
    /* background: linear-gradient(to right, rgb(68, 27, 165), rgb(51.5,118.5,194)); */
    /* border: 2px solid rgb(69, 69, 138); */
}
#g1, #g2{
    position: absolute;
    /* border: 5px solid green; */
    width: 700px;
    top : 10px;
    background-color: rgb(218,180,255);
}
#g1{
    left: 30px;
}
#g2 {
    position: absolute;
    left: 800px;
}